<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Componentes de Angular Material</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item href="autocomplete/">Autocomplete</a>
            <a mat-list-item href="badge/">Badge</a>
            <a mat-list-item href="bottom-sheet/">Bottom Sheet</a>
            <a mat-list-item href="button/">Button</a>
            <a mat-list-item href="button-toggle/">Button Toggle</a>
            <a mat-list-item href="card/">Card</a>
            <a mat-list-item href="checkbox/">Checkbox</a>
            <a mat-list-item href="chips/">Chips</a>
            <a mat-list-item href="datepicker/">Datepicker</a>
            <a mat-list-item href="dialog/">Dialog</a>
            <a mat-list-item href="divider/">Divider</a>
            <a mat-list-item href="expansion-panel/">Expansion Panel</a>
            <a mat-list-item href="form-field/">Form field</a>
            <a mat-list-item href="grid-list/">Grid list</a>
            <a mat-list-item href="icon/">Icon</a>
            <a mat-list-item href="input/">Input</a>
            <a mat-list-item href="list/">List</a>
            <a mat-list-item href="menu/">Menu</a>
            <a mat-list-item href="paginator/">Paginator</a>
            <a mat-list-item href="progressbar/">Progress bar</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>